
    <link rel="stylesheet" href="../css/header.css">

    <header>

       <nav class="nav-bar"> 

        <a class="logo" href="/"><img src="../imgs/logo-02.svg" alt="Foto de perfil" class="logo"></a>
    
        <nav class="mobile-menu">
        <nav class="line1"> </nav>
        <nav class="line2"> </nav>
        <nav class="line3"> </nav>
<!--revisar-->
    </nav>
        <ul class="nav-list">
            <li><a href="/">Menu</a></li>
            <li><a href="/perfil_usuario">Perfil</a></li>
            <li><a href="/sobre_nos">Sobre Nós</a></li>
            <li><a href="/forms_doacao">Doe</a></li>
            <li><a href="/ongs">Procure Apoio</a></li>
           

        </ul>
    </nav>
  </header>
       
  



    <script src="./js/mobile-navbar.js"></script>

</body>
</html>

