<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastrar.css">
    <title>cadastre-se</title>
</head>

<body>
    <img src="c:\Users\rm94805\Downloads\Component 3.png" alt="#" class="#">

    <main>
        <h1>CADASTRE-SE</h1>
        <section class="container">
            <section class="mensagem">


                <form id="donationForm">
                    <label for="nome">Nome Completo</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo" required>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" required>
                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" name="telefone" placeholder="(11) 99999-9999" required>
                    <label for="senha"> Crie uma senha</label>
                    <input type="sen" id="senha" name="senha" placeholder="suaSenha01" required>
                    <label for="fruta">Categoria:</label>
                    <select id="usuario" name="usuario">
                        <option value="selecione">selecione</option>
                        <option value="maca">Usuario</option>
                        <option value="banana">ONG</option>
                        <option value="laranja">Doador</option>
                        <option value="laranja">Profissional</option>
                    </select>
            </section>
        </section>
        <section class="botao">
            <a href="#" class="cadastrar-btn">cadastrar</a>
        </section>


    </main>
    <section class="form-conteiner">
        <h1></h1>


    </section>
    <footer>
        <section class="link">
            <h2>Links rápidos</h2>
            <li>
            <li><a href="#">Doe</a></li>
            <li><a href="#">Receba apoio</a></li>
            <li><a href="#">Depoimentos</a></li>
            </li>
        </section>
        <section>
            <h2>Contato</h2>
            <p>11 9 9999-9999</p>
            <p>phoenix2024@gmail.com</p>
        </section>
        <section class="icones">
            <img src="c:\Users\rm94805\Downloads\logo_tkk2" alt="TikTok">
            <img src="c:\Users\rm94805\Downloads\telefone_logo" alt="Telefone">
            <img src="c:\Users\rm94805\Downloads\instagram_logo" alt="Instagram">
        </section>
    </footer>

</body>

</html>