<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Denuncie</title>
  <link rel="stylesheet" href="../css/denuncia.css">
</head>

</head>
<body>
 
  <!-- TOPO -->
       <header>

       <nav class="nav-bar"> 

        <a class="logo" href="/">Fenix</a>
        
        <nav class="mobile-menu">
        <nav class="line1"> </nav>
        <nav class="line2"> </nav>
        <nav class="line3"> </nav>
<!--revisar-->
    </nav>

        <ul class="nav-list">
            <li><a href="/">Perfil</a></li>
            <li><a href="/">Menu</a></li>
            <li><a href="/">Quem somos</a></li>
            <li><a href="/">Contato</a></li>
            <li><a href="forms_doacao.ejs">Doe</a></li>
            <li><a href="/">Procure Apoio</a></li>
            <li><a href="/">Depoimentos</a></li>
        </ul> 
   
    </nav>
  </header>

  <!-- CONTEÚDO -->
  <main>
    <h1>DENUNCIE</h1>
    <section class="card">
      <p>
        Ligue <b>180</b> – Central de Atendimento à Mulher.
      </p>
      <br>
      <p>
        Ligue <b>190</b> – Em caso de emergência, a mulher ou alguém que esteja presenciando alguma situação de violência pode pedir ajuda por meio do telefone 190.
      </p>
    </section>
  </main>
 
  <!-- RODAPÉ -->
  <footer>
    <section>
      <footer>
        <section class="links">
          <h3>Links rápidos</h3>
          <ul>
            <li><a href="#">Doe</a></li>
            <li><a href="#">Receba apoio</a></li>
            <li><a href="#">Depoimentos</a></li>
          </ul>
        </section>
   
        <section class="contato">
          <h3>Contato</h3>
          <p>11 9 9999-9999</p>
          <p>phoenix2024@gmail.com</p>
        </section>

        
      <script src="./js/mobile-navbar.js"></script>

    </body>
    </html>