<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
      <title>Página Inicial - Projeto Phoenix</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <%- include("../../helpers/nav"); %>  

       <nav class="nav-bar"> 

        <a class="logo" href="/">Fenix</a>
        
        <nav class="mobile-menu">
        <nav class="line1"> </nav>
        <nav class="line2"> </nav>
        <nav class="line3"> </nav>
<!--revisar-->
    </nav>
        <ul class="nav-list">
            <li><a href="/perfil_usuario">Perfil</a></li>
            <li><a href="/cadastrar">Cadastre-se</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/home">Menu</a></li>
            <li><a href="/">Quem somos</a></li>
            <li><a href="/">Contato</a></li>
            <li><a href="/forms_doacao">Doe</a></li>
            <li><a href="/ongs">Procure Apoio</a></li>
            <li><a href="/">Depoimentos</a></li>
        </ul>
    </nav>
  </header>
       
    <main>

       <!-- texto e botao da img 1--> 
        <section class="main">
            <h3>DIGA</h3>
            <h3>NÃO À</h3> 
            <h3>VIOLÊNCIA</h3>
        
        
            <p class="reerguendo">Reerguendo Mulheres. Transformando Vidas.</p>
            <section class="main-buttons">
                <button class="button-denuncie">Denuncie</button>
                <button class="button-procure-ajuda">Procure Ajuda</button>
            </section>
       </section>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 



<!--botoes procure apoio, -->

      
 <section class="card">
      <h2 class="ajd-btn"> PROCURE APOIO DE UM PROFISSIONAL</h2>
      <p class="lead-textos">
        Tenha apoio de pessoas profissionais que vão te ajudar de acordo com a sua situação.
      </p>
      <img class="denuncie-img" src="./imgs/main1.png" alt="Profissional em consulta">
    </section>


<!--botoes denuncie,etc-->

    <section class="card">
      <h2 class="pill-btn">DENUNCIE</h2>
      <p class="lead-textos">
        Ligue para o 180 para receber orientações e atendimentos ou o 190 se for uma emergência.
      </p>
      <img class="denuncie-img" src="../imgs/vlmulher.png" alt="Mão com X simbolizando denúncia">
    </section>


<!--botoes doador -->

    <section class="card">
      <h2 class="pill-btn">TORNE-SE UM DOADOR</h2>
      <p class="lead-textos">
        Ajude de maneira financeira a nossa organização ou ONGs para que possamos continuar juntos nesta luta.
      </p>
      <img class="denuncie-img" src="./imgs/dinheiro.png" alt="Saco de dinheiro com moedas">
    </section>

<!--botoes quem somos-->

    <section class="card">
      <h2 class="pill-btn">QUEM SOMOS</h2>
      <p class="lead-textos">
        Ajudamos você a encontrar ajuda de profissionais se sofreu qualquer tipo de violência ou a apoiar estes profissionais a continuar ajudando outros.
      </p>
      <img class="denuncie-img" src="./imgs/maos.png" alt="Equipe de mãos unidas">
    </section>



<!-- Noticia Agosto Lilás-->

        <section class="conteudo-noticia">
            <h1 class="titulo-noticia-conteudo">
        Agosto Lilás reforça enfrentamento
        à violência contra mulher do Brasil.
            </h1>


            <p class="conteudo-agosto"> O Agosto Lilás reforça a importância da Lei Maria da Penha, que em 2025 completa 19 anos,
             voltada à prevenção ao combate da violência contra mulher, em suas diversas formas 
            (fisica, psicológica, moral, patrimonial e sexual.)
      
          
</section> 

<!--imagem agosto lilas-->

           <section class="imagem-agosto">
            <img src="../imgs/agostolilas.png" alt="agosto-lilas" width="400px" class="imagem-agosto">
            <p> Infográfico "Violência Contra Mulher em (2024-2025)"</p>
            </section>







<!--texto agosto lilas-->

 <section class="conteudo-noticia">
<h1>Agosto Lilás</h1>
                   <p class="texto-lilas"> Campanhas como o Agosto Lilás têm papel decisivo na transformação de símbolos em ações concretas. A pesquisadora do Projeto Fenix, Corina Mendes afirma que essas iniciativas fortalecem canais de denúncia e protocolos de proteção, promovendo a visibilidade das violências e incentivando a busca por ajuda. "Ao refletirmos sobre a subnotificação, de qualquer das formas já previstas nos sistemas de informações, é fundamental considerar aspectos que vão da falta de capacitação dos profissionais, que deveriam preencher os instrumentos que coletam dados, até os estigmas e preconceitos que produzem revitimizações", explica.

        O Projeto Fenix atua de forma integrada, considerando as vulnerabilidades de mulheres 
        negras e residentes de territórios periféricos, mais expostas à violência e ao feminicídio. 
        A instituição contribui com atendimento especializado, pesquisa científica, ensino e articulação com políticas públicas.
        <br> Corina ressalta que essa atuação não apenas fortalece a rede de proteção,
        mas também serve de referência para outros países da América Latina. "Assistir, acolher,
        produzir evidências científicas e influenciar políticas públicas são aprendizados que podem 
        inspirar iniciativas semelhantes em outros contextos". </p>
 

</section>





</main>






    <footer class="footer">
        <nav class="footer-links">
            <h3>Links rápidos</h3>
            <ul>
                <li><a href="#">Página Inicial</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Depoimentos</a></li>
            </ul>
        </nav>
        <nav class="footer-contact">
            <h3>Contato</h3>
            <p class="texto-footer">Doações</p>
             <br>
            <p class="texto-footer">11 9 9999-9999</p>
            <br>
            <p class="texto-footer">phoenix2024@gmail.com</p>
        </nav>
        <nav class="footer-social">
            <h3>Redes Sociais</h3>
            <ul>
                <li><a href="#">Instagram</a></li>
                            <br>

                <li><a href="#">TikTok</a></li>
            </ul>
        </nav>
        <p class="copyright">© 2025 Phoenix - Todos os direitos reservados.</p>
    </footer>

    <script src="./js/mobile-navbar.js"></script>
</body>
</html>

