<!DOCTYPE html>
<html lang="pte">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Fenix - Login</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="banner">
            <p>
                <img src="imgs/foto-materia-principal-unifor-noticias-15-anos-maria-da-penha-800-ares-soares (1).jpg">
            <h1>Diga não à violência</h1>
            <h2>
                <p>Reerguendo Mulheres. Transformando Vidas.</p>
            </h2>
            </p>
        </section>

        <section class="links">

            <section class="ajudaProfissional">
                <p>
                <h2>Receba ajuda profissional</h2>
                </p>
                <section class="container">
                    <p>Tenha apoio de pessoas profisionais que vão te ajudar de acordo com a sua situação. </p>
                </section>
            </section>

        </section>
    </main>
</body>




</html>