<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="../css/login.css">
</head>
<body>
<header>
<button>✕</button>
<h1>Projeto Phoenix</h1>

</header>
<main>
<article>
<h2>Entrar</h2>
<form>
<label>
<input type="text" placeholder="E-MAIL" required>
</label>
<label>
<input type="password" placeholder="SENHA" required>
</label>
<p class="forget"><a href="esqueceuasenha.html">Esqueceu a senha?</a></p>
<button type="submit" class="btn-entrar">ENTRAR</button>
</form>

<nav class="signup">
<span>Ainda não tem conta?</span>
<a href="cadastrar.html">Cadastre-se</a>
</nav>
</article>
</main>
<footer>
</footer>
</body>
</html>