<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ongs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <title>Fenix - Ongs</title>
    <script src="js/ongs.js" defer></script>
    <script src="js/modal.js" defer></script>
    
</head>
<body>
 <%- include('../partials/header2.ejs') %>
    <main>

        <nav class="modal-menu">
            <button id="btnOng" class="active">Ongs</button>
            <button id="btnProfissional">Profissionais</button>
        </nav>

        <section class="search">
            <label for="searchInput">
                <span class="material-symbols-outlined"> search </span>
            </label>
            <input type="text" id="searchInput" placeholder="Nome,atendimento,região,etc">
        </section>
        <section id="card-container" class="card-container">
        </section>
        <section id="card-container-profissionais" class="card-container-profissionais">
            
        </section>
        


    
    </main>
     <%- include('../partials/footer.ejs') %>
</body>
</html> 


