<!DOCTYPE html>
<html lang="pt-br">>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ongs.css">
    <title>Fenix - Ongs</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section class="search">
            <label for="searchInput">
                <span class="material-symbols-outlined"> search </span>
            </label>
            <input type="text" id="searchInput" placeholder="Pesquisar">
        </section>
        <section class="card-container">
            <section class="card">
                <h3>titulo</h3>
                <p>descrição</p>
            </section>

        </section>
    </main>
</body>
</html>
