<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Perfil Profissional - Projeto Phoenix</title>
  <link rel="stylesheet" href="../css/perfil_profissional.css">
  
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
  
</head>
<body>
    <header>

       <nav class="nav-bar"> 

        <a class="logo" href="/">Fenix</a>
        
        <nav class="mobile-menu">
        <nav class="line1"> </nav>
        <nav class="line2"> </nav>
        <nav class="line3"> </nav>
<!--revisar-->
    </nav>
        <ul class="nav-list"> 
            <li><a href="/">Perfil</a></li>
            <li><a href="/">Menu</a></li>
            <li><a href="/">Quem somos</a></li>
            <li><a href="/">Contato</a></li>
            <li><a href="../pages/forms_doacao.ejs">Doe</a></li> 
            <li><a href="/">Procure Apoio</a></li>
            <li><a href="/">Depoimentos</a></li>
           

        </ul>
    </nav>
  </header>
       
    <main>
        
 
  <nav class="profile-card shadow-sm">
    <!-- Foto -->
    <img src="../imgs/logo.png" alt="Foto de perfil" class="avatar">

    <!-- Nome -->
    <nav class="info-item">
      <i class="bi bi-person"></i>
      <section class="info-text">
        <strong>Nome</strong>
        <span>Luiza</span>
      </section>
    </nav>

    <!-- Sobre -->
    <nav class="info-item">
      <i class="bi bi-info-circle"></i>
      <section class="info-text">
        <strong>Sobre</strong>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </section>
    </nav>

    <!-- Telefone -->
    <nav class="info-item">
      <i class="bi bi-telephone"></i>
      <section class="info-text">
        <strong>Telefone</strong>
        <span>+55 99 99999 - 9999</span>
      </section>
    </nav>

    <!-- Email -->
    <nav class="info-item">
      <i class="bi bi-envelope"></i>
      <section class="info-text">
        <strong>Email</strong>
        <span>luisa99999@gmail.com</span>
      </section>
    </nav>

    <!-- Profissão -->
    <nav class="info-item">
      <i class="bi bi-person-badge"></i>
      <section class="info-text">
        <strong>Profissão</strong>
        <span>Ginecologista</span>
      </section>
    </nav>

    <!-- Clínica -->
    <nav class="info-item">
      <i class="bi bi-hospital"></i>
      <section class="info-text">
        <strong>Clínica</strong>
        <span>Eduarda clínica</span>
      </section>
    </nav>
  </nav>



    </main>






    <script src="./js/mobile-navbar.js"></script>
</body>
</html>

