<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=e911_avatar" />
<footer>
    <section class="textoFooter">
        <section class="links">
            <span>Links rápidos</span>
            <p>Doe</p>
            <p>Receba apoio</p>
            <p>Depoimentos</p>
        </section>
        <section class="links">
            <span>Contato</span>
            <p>11 9 9999-9999</p>
            <p>phoenix2024@gmail.com</p>
        </section>
    </section>

    <section class="redes">

        <section class="tik-tok">

            <img src="imgs/tiktok.png">

        </section>

        <section class="tik-tok">

            <span class="material-symbols-outlined">
                e911_avatar
                <p>180</p>
            
            </span>

        </section>

        <section class="tik-tok">

            <img src="imgs/instagram (1).png">

        </section>

    </section>

</footer>