<footer>
    <section class="links">
        <h2>Links rápidos</h2>
        <p>Doe</p>
        <p>Receba apoio</p>
        <p>Depoimentos</p>
    </section>
    <section class="Contato">
        <h2>Contato</h2>
        <p>11 9 9999-9999</p>
        <p>phoenix2024@gmail.com</p>
    </section>

    <section class="redes">

        <section class="tik-tok">

            <img src="#">

        </section>

        <section class="tik-tok">

            <img src="#">

        </section>
        
        <section class="tik-tok">

            <img src="#">
            
        </section>

    </section>

</footer>