<link rel="stylesheet" href="css/nav.css">
<nav role="navigation">
            <section id="menuToggle">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href=""><li>Home</li></a>
                    <a href=""><li>Info</li></a>
                    <a href=""><li>Produtos</li></a>
                    <a href=""><li>Sobre</li></a>
                    <a href=""><li>Contatos</li></a>
                    <a href=""><li>Mostrar mais</li></a>
                </ul>
            </section>
            
        </nav>
