<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <title></title>
</head>
<body>
    <header>
        <nav role="navigation">
            <section id="menuToggle">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                    <ul id="menu">
                        <a href=""><li>Home</li></a>
                        <a href=""><li>Ongs</li></a>
                        <a href=""><li>Doe</li></a>
                        <a href=""><li>Sobre</li></a>
                        <a href=""><li>Contato</li></a>
                    </ul>
            </section>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
    
</body>
</html>